.link {
    color: white;
    text-decoration: none;
}

.loadingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .mainSingleColor {
        background-color: #01172c;
    }

    main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .container {
            width: 80%;
            display: flex;
            flex-direction: column;
            color: white;
            font-family: "Montserrat", sans-serif;
            gap: 15px;
            position: relative;
            justify-content: center;

            .up {
                display: flex;
                align-items: center;
                width: fit-content;
                gap: 10px;
                cursor: pointer;


                .titleSlider {
                    font-weight: 500;
                }
            }

            .subtitleSlider {
                font-weight: 400;
            }
        }

        .container:nth-last-child(+n+4) {
            height: calc(100vh - 76.98px);
        }
    }
}

@media only screen and (max-width:1023.98px) {
    .container {
        .up {
            .titleSlider {
                font-size: 25px;
            }
        }

        .subtitleSlider {
            font-size: 15px;
        }
    }
}

@media only screen and (min-width:1024px) {
    .container {
        .up {
            .titleSlider {
                font-size: 30px;
            }
        }

        .subtitleSlider {
            font-size: 20px;
        }
    }
}