.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .mainBurger {
        background-color: #01172c;
        background-color: #01172c;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 30px 0;
    }

    main {
        flex-grow: 1;
        color: white;
        font-family: "Montserrat", "sans-serif";
        display: flex;
        flex-direction: column;
        align-items: center;

        .mainContainer {
            height: calc(100vh - 75px);
            display: flex;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;

            .container {
                display: flex;
                gap: 10px;

                .card {
                    img {
                        width: 100%;
                        border-radius: 5px;
                    }
                }

                .rightSide {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    .extraInfo {
                        display: flex;
                        gap: 5px;
                        font-weight: 400;
                    }

                    .voteContainer {
                        display: flex;
                        gap: 5px;
                    }
                }
            }
        }

        .overviewContainer,
        .overviewUp {
            line-height: 1.5;

            .lastInfo {
                font-weight: 600;

                span {
                    font-weight: 400;
                }
            }
        }

        .actionContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .box {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 2px solid #0074e4;
                border-radius: 5px;
                cursor: pointer;
                justify-content: center;
                transition: all 0.8s ease;
                background-color: #01172c;

                &:hover {
                    background-color: #0074e4;
                }
            }

            .boxClick {
                background-color: #0074e4;
            }
        }

        .carouselContainer {
            text-align: center;
            width: 70%;

            .cast {
                font-size: 30px;
                margin: 20px 0;
            }
        }
    }
}

@media only screen and (max-width: 424.98px) {
    .mainContainer {
        .actionContainer {
            .box {
                padding: 7px;
                font-size: 13px;
                width: 200px;
            }
        }
    }
}

@media only screen and (min-width:425px) {
    .mainContainer {
        .actionContainer {
            .box {
                padding: 10px;
                font-size: 15px;
                width: 250px;
            }
        }
    }

}

@media only screen and (max-width:599.98px) {
    .mainContainer {
        padding: 20px 20px 0 20px;
        gap: 15px;

        .container {
            .card {
                min-width: 130px;
                max-width: 130px;
            }

            .rightSide {
                h1 {
                    font-size: 15px;
                }

                .extraInfo {
                    font-size: 13px;
                }

                .voteContainer {
                    font-size: 13px;
                }

            }
        }

        .overviewUp {
            display: none;
        }

        .overviewContainer {
            font-size: 12px;

            .lastInfo {
                margin-top: 5px;
                font-size: 10px;
            }
        }

    }
}

@media only screen and (min-width:600px) {
    .mainContainer {
        padding: 40px 20px;
        gap: 30px;

        .container {
            .card {
                min-width: 150px;
                max-width: 150px;
            }

            .rightSide {
                h1 {
                    font-size: 20px;
                }

                .extraInfo {
                    font-size: 14px;
                }

                .voteContainer {
                    flex-direction: row;
                    font-size: 12px;
                }

                .lastInfo {
                    font-size: 10px;
                }
            }

            .overviewUp {
                .overviewText {
                    font-size: 13px;
                    max-height: 100px;
                    overflow: auto;
                }

                .lastInfo {
                    margin-top: 5px;
                }
            }
        }

        .overviewContainer {
            display: none;
        }

        .actionContainer {
            .box {
                width: 50%;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .mainContainer {
        padding: 40px;

        .container {
            .card {
                min-width: 170px;
                max-width: 170px;
            }

            .rightSide {
                h1 {
                    font-size: 25px;
                }

                .extraInfo {
                    font-size: 16px;
                }

                .lastInfo {
                    font-size: 13px;
                }

                .voteContainer {
                    font-size: 16px;
                }
            }
        }
    }
}

@media only screen and (max-width:1023.98px) {
    .mainContainer {
        flex-direction: column;
    }
}

@media only screen and (min-width:1024px) {
    .mainContainer {
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .container {
            .card {
                min-width: 200px;
                max-width: 200px;
            }

            .rightSide {
                h1 {
                    font-size: 30px;
                    max-width: 500px;
                }

                .overviewText {
                    font-size: 15px;
                    max-width: 500px;
                    max-height: 110px;
                }
            }
        }

        .actionContainer {
            .box {
                width: 220px;
            }
        }
    }
}

@media only screen and (min-width:1200px) {
    .mainContainer {
        .container {
            .rightSide {
                h1 {
                    max-width: 600px;
                }

                .overviewText {
                    max-width: 600px;
                }
            }
        }
    }
}

@media only screen and (min-width:1300px) {
    .mainContainer {
        .container {
            .rightSide {
                h1 {
                    max-width: 700px;
                }

                .overviewText {
                    max-width: 700px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .mainContainer {
        .container {
            .card {
                min-width: 250px;
                max-width: 250px;
            }

            .rightSide {
                h1 {
                    max-width: 750px;
                }

                .overviewText {
                    max-width: 750px;
                    overflow: auto;
                    max-height: fit-content;
                }
            }
        }
    }
}