.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .classMain {
        flex-grow: 1;

        .home {
            background-image: url("../../assets/bg.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: calc(100vh - 75px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            align-items: center;

            .firstPageContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #01172c;
                margin: 0 40px;
                padding: 30px;
                border-radius: 10px;
                border: 3px solid #0074e4;
                color: white;
                font-family: 'Montserrat', sans-serif;
                text-align: center;
                font-weight: 500;

                .intro {
                    max-width: 250px;
                }

                .title {
                    color: #0074e4;
                    font-weight: 600;
                }
            }

            .btnScrollDown {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 65px;
                width: 65px;
                border-radius: 30px;
                background-color: #01172c;
                color: #0074e4;
                cursor: pointer;
                border: 2px solid #0074e4;
                transition: all 0.2s ease;

                &:active {
                    transform: scale(0.96);
                }
            }
        }

        .functionalities {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 45.2px);

            .secondPageContainer {
                display: flex;
                flex-direction: column;
                margin: 0 40px;
                justify-content: space-between;

                .featureDiv {
                    display: flex;
                    flex-direction: column;
                    gap: 35px;

                    .feature {
                        text-align: start;
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        align-items: center;
                        color: white;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 400;

                        .featureIcon {
                            color: #0074e4;
                        }
                    }
                }

                .signIn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: white;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    text-align: center;
                    gap: 20px;
                }
            }
        }
    }
}


@media screen and (max-width:767.98px) {
    .functionalities {
        .secondPageContainer {
            gap: 30px;

            .featureDiv {
                .feature {
                    font-size: 18px;
                    max-width: 470px;
                }
            }

            .signIn {
                font-size: 18px;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .functionalities {
        .secondPageContainer {
            gap: 60px;

            .featureDiv {
                .feature {
                    font-size: 20px;
                    max-width: 530px;
                }
            }

            .signIn {
                font-size: 25px;
            }
        }
    }

}

@media screen and (max-width: 1023.98px) {
    .home {
        .firstPageContainer {
            .intro {
                font-size: 25px;
            }

            .title {
                font-size: 40px;
            }

            .brief {
                font-size: 18px;
                max-width: 450px;
            }
        }
    }
}


@media screen and (min-width:1024px) {
    .home {
        .firstPageContainer {
            .intro {
                font-size: 30px;
            }

            .title {
                font-size: 45px;
            }

            .brief {
                font-size: 23px;
                max-width: 500px;
            }
        }

        .btnScrollDown:hover {
            color: #01172c !important;
            background-color: #0074e4 !important;
            box-shadow: 0 0 0 2px #01172c, 0 0 0 4px #0074e4;
        }
    }

    .functionalities {
        .secondPageContainer {
            gap: 90px;

            .featureDiv {
                .feature {
                    font-size: 25px;
                    max-width: 650px;
                }
            }

            .signIn {
                font-size: 25px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .functionalities {
        .secondPageContainer {
            gap: 120px;

            .featureDiv {
                .feature {
                    font-size: 30px;
                    max-width: 900px;
                }
            }

            .signIn {
                font-size: 30px;
            }
        }
    }
}