.arrowDiv {
    position: fixed;
    bottom: 45px;
    right: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .icon {
        color: white;
        cursor: pointer;
        transition: all 0.5s ease;

        &:active {
            transform: scale(1.5);
        }
    }
}

@media only screen and (min-width: 1024px) {
    .icon:hover {
        color: #0074e4;
    }
}