.arrowDiv {
    position: fixed;
    bottom: 45px;
    right: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .icon {
        color: white;
        cursor: pointer;

        &:hover {
            color: #0074e4;
        }
    }
}