.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .mainBurger {
        background-color: #01172c;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 30px 0;
    }

    .mainClass {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 20px;
            color: white;

            .message {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
            }
        }
    }
}

@media screen and (max-width: 499.98px) {
    .container {
        .message {
            max-width: 300px;
        }
    }
}

@media screen and (max-width: 767.98px) {
    .container {
        .message {
            font-size: 20px;
        }

        .icon {
            width: 75px;
            height: 75px;
        }
    }
}

@media screen and (min-width:768px) {
    .container {
        .message {
            font-size: 25px;
        }

        .icon {
            width: 100px;
            height: 100px;
        }
    }
}

@media screen and (min-width:1024px) {
    .container {
        .message {
            font-size: 30px;
        }

        .icon {
            width: 125px;
            height: 125px;
        }
    }
}