.link {
    color: white;
    text-decoration: none;
}

.navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #01172c;
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding: 20px;
    height: 75px;

    .leftContainer {
        display: flex;
        align-items: center;
        gap: 30px;

        .title {
            font-size: 25px;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .discoverDiv {
        gap: 20px;
        align-items: center;

        .boxSlide {
            align-items: center;
            cursor: pointer;
            gap: 5px;
            position: relative;
            transition: all 0.3s ease;

            .titleMenu {
                font-size: 15x;
                font-weight: 500;
                text-decoration: none;
            }

            &:hover {
                color: #0074e4;
            }
        }

        .boxSlideActive {
            color: #0074e4;
        }
    }

    .profileContainer {
        align-items: center;
        gap: 5px;

        .profileDiv,
        .logOutDiv {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            border-radius: 20px;
            padding: 5px;

            .profileText,
            .logOutText {
                font-size: 15px;
                font-weight: 500;
            }

            &:active {
                transform: scale(0.96);
            }
        }

        .confirmLogOut {
            background-color: red;
        }
    }
}

@media only screen and (max-width: 499.98px) {

    .profileContainer {
        display: none;
    }

}

@media only screen and (min-width:500px) {

    .profileContainer {
        display: flex;
    }
}

@media only screen and (max-width:1023.98px) {
    .navWrapper {
        .leftContainer {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .discoverDiv {
                display: none;
            }
        }

        .profileContainer {

            .profileText,
            .logOutText {
                display: none;
            }
        }
    }
}

@media only screen and (min-width:1024px) {
    .navWrapper {
        padding: 0 10%;

        .burgerIcon {
            display: none;
        }

        .leftContainer {
            .discoverDiv {
                display: flex;

                .boxSlide {
                    display: flex;
                }
            }
        }

        .profileContainer {

            .profileDiv:hover,
            .logOutDiv:hover {
                background-color: #0074e4;
                transition: all 0.3s ease;
            }

            .confirmLogOut:hover {
                background-color: red;
            }
        }
    }
}

@media only screen and (min-width:1440px) {
    .navWrapper {
        padding: 0 5%;
    }
}