.link {
    text-decoration: none;
    color: white;
}

.navWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #01172c;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 10%;

    .title {
        font-size: 25px;
        font-weight: 500;
        cursor: pointer;
    }

    .authContainer {
        display: flex;
        align-items: center;
        gap: 5px;

        .authDiv {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            border-radius: 20px;
            padding: 5px;
        }

        .authDiv:hover {
            background-color: #0074e4;
            transition: all 0.3s ease;
        }

        .authDiv:active {
            transform: scale(0.96);
        }
    }
}

@media only screen and (max-width:767.98px) {
    .authContainer {
        .authText {
            display: none;
        }
    }
}